* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #DADBD2 80%, #009988 20%);
}

#app {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 90vh;
  width: 80vw;
}
.whatsappWindow {
  height: 100%;
  width: 100%;
  background-color: pink;
  display: flex;
}

/* INIZIO LATO SINISTRO */
.whatsappLeft {
  background-color: blue;
  width: 30%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.whatsappLeft > div {
  min-width: 100%;
}

.nomeUtente {
  background-color: #EAEAEA;
  height: 90px;
  border-right: darkgrey solid 1px;
  display: flex;
}

.nuLeft{
  /* background-color: red; */
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nuLimage > img {
  border-radius: 50%;
  height: 70px;
  margin-left: 10px;
}

.nuLname {
  margin-left: 5px;
}

.nuRight{
  /* background-color: blue; */
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nuRight > .fas {
  color: #b1b1b1;
  margin-right: 10px;
  font-size: 20px;
}

.riceviNotifiche {
  background-color: #76DCFF;
  height: 100px;
  display: flex;
  align-items: center;
}

.rNicona i {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #76DCFF;
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: 15px;
  font-size: 20px;
}

.rNtext > div {
  text-align: left;
  margin-left: 10px;
}

.cercaOiniziaChat {
  background-color: #FAFAFA;
  /* background-color: red; */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cOiCinputContainer {
  width: 95%;
  height: 90%;
  background-color: white;
  display: flex;
  align-items: center;
}
.cOiCinputContainer > .fas {
  color: #b5b9bb;
  margin-left: 10px;
}
.cercaChatsearchBar {
  border: none;
  color: #b5b9bb;
  height: 100%;
  margin-left: 10px;
}







.conversazioni {
  background-color: #ffffff;
  flex: 1;
}
/* FINE LATO SINISTRO */
/* INIZIO LATO DESTRO */
.whatsappRight {
  background-color: purple;
  width: 70%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.navChat {
  background-color: #EAEAEA;
  height: 90px;
}
.chat {
  background-color: #dcd4cd;
  flex: 1;
  background-image: url(../img/mine.jpg);
}
.scriviMessaggio {
  background-color: #f4eee9;
  height: 90px;
}
/* FINE LATO DESTRO */
